.updated-recipe-list {
    
    padding: 10px; /* Add some padding */
    border: 1px solid red; /* Add border for better visibility */
    border-radius: 5px; /* Round the corners */
    margin-top: 200px;
    background-color: red;
    width:750px;
    margin-left: 300px;
  }
  
  .updated-recipe-item {
    margin-bottom: 10px; /* Add some spacing between each item */
  }

  