<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <form class="d-flex align-items-center justify-content-center">
        <input class="form-control mr-sm-2 box" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="enteredSearchValue" (input)="onsearchTextChanged()" name="search">
        <span style="margin-left:10px;"></span>
        <button class="btn btn-outline-success my-2 my-sm-0 icon" type="submit"><i class="pi pi-search" style="font-size: 1rem"></i></button>
      </form>
    </div>
  </div>
</div>
